<!DOCTYPE html>
<html>

<head>

<title>Blockchain Chain of Custody</title>

<style>

body{
font-family:Arial;
background:#f4f6f8;
margin:40px;
}

.container{
max-width:1000px;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.block{
background:#fafafa;
border-left:6px solid #2c7be5;
padding:15px;
margin-top:15px;
}

button{
background:#2c7be5;
color:white;
padding:10px 15px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1a5fcc;
}

input{
padding:6px;
margin-top:5px;
}

</style>

</head>

<body>

<div class="container">

<h1>Blockchain Digital Evidence Chain of Custody</h1>

<hr>

<h2>Start New Evidence Chain</h2>

<form action="/start" method="post" enctype="multipart/form-data">

Investigator Name<br>
<input name="investigator" required>

<br><br>

Upload Evidence File<br>
<input type="file" name="file" required>

<br><br>

<button type="submit">Start Chain</button>

</form>

<h2>Verify Evidence Integrity</h2>

<form action="/verify" method="post" enctype="multipart/form-data">

Upload Evidence File<br>
<input type="file" name="verifyfile" required>

<br><br>

<button type="submit">Verify Evidence</button>

</form>

<hr>

<hr>

<h2>Transfer Custody</h2>

<form action="/transfer" method="post">

Chain ID<br>
<input name="chain_id" required>

<br><br>

From<br>
<input name="from_person" required>

<br><br>

To<br>
<input name="to_person" required>

<br><br>

<button type="submit">Transfer Custody</button>

</form>

<hr>

<h2>Submit Evidence to Court</h2>

<form action="/close" method="post">

Chain ID<br>
<input name="chain_id" required>

<br><br>

<button type="submit">Close Chain</button>

</form>

<hr>

<h2>Evidence Chains</h2>

{% for chain_id, chain in chains.items() %}

<h3>Chain {{chain_id}}</h3>

{% for block in chain.blocks %}

<div class="block">

<b>Block:</b> {{block.index}} <br>

<b>Time:</b> {{block.timestamp}} <br>

<b>Evidence:</b> {{block.evidence_name}} <br>

<b>From:</b> {{block.from_person}} <br>

<b>To:</b> {{block.to_person}} <br>

<b>Hash:</b> {{block.hash[:20]}}... <br>

<b>Previous Hash:</b> {{block.previous_hash[:20]}}...

</div>

{% endfor %}

{% if chain.closed %}
<b>Status:</b> Evidence submitted to court (Chain Closed)
{% else %}
<b>Status:</b> Active
{% endif %}

<hr>

{% endfor %}

</div>

</body>

</html>
